---
import ExperimentsLayout from "#app/layouts/experimentsLayout.astro";

import { meta } from "#app/pages/experiments/meta";
---

<ExperimentsLayout {...meta}>
	<article>
		<h2>Animated Border</h2>

		<section></section>
	</article>
</ExperimentsLayout>

<style></style>
