---
import PlaygroundLayout from "#app/layouts/playgroundLayout.astro";

import { meta } from "#app/i18n/playground/en/playground.ts";
---

<PlaygroundLayout {...meta} playgroundTitle="Scroll Snap">
	<article>
		<div class="cardContainer">
			<div class="card">Card 1</div>
			<div class="card">Card 2</div>
			<div class="card">Card 3</div>
			<div class="card">Card 4</div>
			<div class="card">Card 5</div>
		</div>
	</article>
</PlaygroundLayout>

<style>
	.cardContainer {
		display: flex;

		height: 270px;
		width: 325px;

		background-color: var(--black);

		border: 5px solid rgba(255, 255, 255, 0.5);
		border-radius: 40px;

		box-shadow: 0px 20px 30px -10px #ff6b6b4f;

		scroll-snap-type: inline mandatory;
		overflow-x: scroll;
	}

	.card {
		flex-shrink: 0;

		width: 200px;
		height: 200px;

		margin: 30px;
		padding: 25px 20px;

		border-radius: 25px;

		background-color: #ff6b6b;

		scroll-snap-align: center;
	}
</style>
