.name {
	display: flex;

	font-family: Georgia, serif;
	font-size: 6rem;

	white-space: nowrap;

	@media (max-width: 1024px) {
		& {
			font-size: 4.5rem;
		}
	}

	@media (max-width: 768px) {
		& {
			font-size: 2.25rem;
		}
	}

	@media (max-width: 425px) {
		& {
			font-size: 2.25rem;
		}
	}

	@media (max-width: 375px) {
		& {
			font-size: 1.875rem;
		}
	}

	@media (max-width: 320px) {
		& {
			font-size: 1.75rem;
		}
	}
}

.section {
	padding-bottom: 0.25rem;

	font-family: 'Courier New', Courier, monospace;
	font-size: 2rem;

	@media (max-width: 1024px) {
		& {
			font-size: 1.75rem;
		}
	}

	@media (max-width: 768px) {
		& {
			font-size: 1.125rem;
		}
	}

	@media (max-width: 425px) {
		& {
			font-size: 1rem;
		}
	}

	@media (max-width: 375px) {
		& {
			font-size: 1rem;
		}
	}

	@media (max-width: 320px) {
		& {
			font-size: 1rem;
		}
	}
}

.link {
	position: relative;

	padding: 0.5rem 0 0.5rem 0;

	color: var(--fc-link);

	border-bottom: 1px solid transparent;

	text-decoration: none;

	transition: color 0.15s ease-in-out;

	&::before {
		position: absolute;
		top: 87.5%;
		left: 0.125rem;

		display: block;

		width: calc(100% - 0.125rem);
		height: 1px;

		background-color: transparent;

		transition: background-color 0.15s ease-in-out;

		content: '';
	}

	&:hover {
		color: var(--fc-link-hover);

		&::before {
			background-color: currentColor;
		}
	}
}

.description {
	display: grid;
	grid-template-columns: 1fr auto;
	column-gap: 2rem;

	@media (max-width: 768px) {
		& {
			display: block;
		}
	}
}

.mainPhotoContainer {
	display: flex;

	align-items: center;
	justify-content: center;

	margin-left: -0.25rem;

	@media (max-width: 1024px) {
		& {
			margin-left: 0;
		}
	}
}

.profileLinksContainer {
	display: grid;
	grid-template-columns: 2.75rem 2.75rem auto;
	grid-template-rows: 2.75rem;
	column-gap: 1.5rem;

	margin: 2.5rem 0 1rem 0;

	color: var(--fc-body);
}
