---
type Props = {
	class?: string;

	to: string;
	download?: boolean | string;
	target?: string;
};

let { class: className, to, download, target } = Astro.props;

let downloadAttr = getDownloadAttr(download);

function getDownloadAttr(download?: boolean | string) {
	if (typeof download === "string") {
		return download;
	}

	if (!download) {
		return undefined;
	}

	return "";
}
---

<a
	class:list={["link", className]}
	href={to}
	download={downloadAttr}
	target={target}
>
	<slot />
</a>

<style>
	.link {
		position: relative;

		padding: 0.5rem 0 0.5rem 0;

		color: var(--color-font-link);

		border-bottom: 1px solid transparent;

		text-decoration: none;

		transition: color 0.15s ease-in-out;

		&::before {
			position: absolute;
			top: 87.5%;
			left: 0.125rem;

			display: block;

			width: calc(100% - 0.125rem);
			height: 1px;

			background-color: transparent;

			transition: background-color 0.15s ease-in-out;

			content: "";
		}

		&:hover {
			color: var(--color-font-link-hover);

			&::before {
				background-color: currentColor;
			}
		}
	}
</style>
