---
type Props = {
	class?: string;

	to: string;
	download?: boolean;
	target?: string;
};

let { class: className, to, download, target } = Astro.props;
---

<a
	class:list={["link", className]}
	href={to}
	download={download}
	target={target}
>
	<slot />
</a>

<style>
	.link {
		position: relative;

		padding: 0.5rem 0 0.5rem 0;

		color: var(--fc-link);

		border-bottom: 1px solid transparent;

		text-decoration: none;

		transition: color 0.15s ease-in-out;

		&::before {
			position: absolute;
			top: 87.5%;
			left: 0.125rem;

			display: block;

			width: calc(100% - 0.125rem);
			height: 1px;

			background-color: transparent;

			transition: background-color 0.15s ease-in-out;

			content: "";
		}

		&:hover {
			color: var(--fc-link-hover);

			&::before {
				background-color: currentColor;
			}
		}
	}
</style>
