---

---

<div class="noise">
	<div class="noise-layer"></div>
</div>

<style>
	.noise {
		position: fixed;
		inset: 0;
		z-index: -1;
		pointer-events: none;
		opacity: 0.25;
		mix-blend-mode: overlay;
		backface-visibility: hidden;
	}

	.noise-layer {
		position: absolute;
		inset: -100%;
		transform-style: flat;
		filter: contrast(170%) grayscale(100%);
		background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.5' numOctaves='3' stitchTiles='stitch'/%3E%3CfeColorMatrix type='matrix' values='1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' opacity='1' fill='%23000'/%3E%3C/svg%3E");
		background-repeat: repeat;
		background-size: 200px;
	}
</style>
