---
import { Image } from "astro:assets";

import background from "#app/assets/background.jpg";
import noiseInline from "#app/assets/noise.webp?inline";
import noise from "#app/assets/noise.webp";
---

<div class="background">
	<div
		class="noise"
		style={{
			"--background-url": `url(${noiseInline})`,
			"--background-size": `${noise.width / 2}px`,
		}}
	>
	</div>

	<Image
		class="gradient"
		src={background}
		alt="Background"
		quality={1}
		width={256}
	/>
</div>

<style>
	.background {
		position: fixed;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;

		background-color: inherit;

		z-index: -1;
	}

	.noise {
		position: absolute;
		inset: 0;

		background-image: var(--background-url);
		background-size: var(--background-size) var(--background-size);

		mix-blend-mode: overlay;
	}

	.gradient {
		width: 100%;
		height: 100%;

		object-fit: cover;

		mix-blend-mode: overlay;

		filter: blur(6px);
	}
</style>
