---
import Icon from "#app/components/icon/icon.astro";

type Props = {
	name: "github" | "linkedIn";
	url: string;
	label: string;
};

let { name, url, label } = Astro.props;
---

<a
	class="flex text-current appearance-none"
	href={url}
	target="_blank"
	rel="noopener"
	aria-label={label}
>
	<Icon name={name} hasHover />
</a>
