---
import Photo from "../components/photo.astro";
import SocialLink from "../components/socialLink.astro";
---

<div id="container">
	<main class="page">
		<div class="description">
			<div class="mainPhotoContainer">
				<Photo />
			</div>

			<div class="info">
				<h1 class="name">Ivan Gerasimov</h1>

				<span class="section">Fullstack JavaScript developer</span>
			</div>
		</div>

		<section class="profileLinksContainer">
			<SocialLink
				name="linkedIn"
				url="https://linkedin.com/in/ivan-gerasimov"
				label="LinkedIn profile"
			/>

			<SocialLink
				name="github"
				url="https://github.com/ivan-gerasimov-1"
				label="GitHub profile"
			/>
		</section>

		<section class="section">
			<a class="link" href="mailto:ivan@gerasimov.dev"> ivan@gerasimov.dev </a>
		</section>
	</main>
</div>

<style>
	.page {
	}

	.name {
		display: flex;

		margin: 0;

		font-family: var(--ff-transitional);
		font-weight: 600;
		font-size: 6rem;
		letter-spacing: 1px;

		line-height: 1;

		white-space: nowrap;

		@media (max-width: 1024px) {
			& {
				font-size: 4.5rem;
			}
		}

		@media (max-width: 768px) {
			& {
				font-size: 2.25rem;
			}
		}

		@media (max-width: 425px) {
			& {
				font-size: 2.25rem;
			}
		}

		@media (max-width: 375px) {
			& {
				font-size: 1.875rem;
			}
		}

		@media (max-width: 320px) {
			& {
				font-size: 1.75rem;
			}
		}
	}

	.section {
		font-family: var(--ff-monospace);
		font-size: 1.5rem;

		color: var(--fc-body-200);

		margin-top: 10px;

		@media (max-width: 1024px) {
			& {
				font-size: 1.25rem;
			}
		}

		@media (max-width: 768px) {
			& {
				font-size: 1rem;
			}
		}

		@media (max-width: 425px) {
			& {
				font-size: 1rem;
			}
		}

		@media (max-width: 375px) {
			& {
				font-size: 1rem;
			}
		}

		@media (max-width: 320px) {
			& {
				font-size: 1rem;
			}
		}
	}

	.link {
		position: relative;

		padding: 0.5rem 0 0.5rem 0;

		color: var(--fc-link);

		border-bottom: 1px solid transparent;

		text-decoration: none;

		transition: color 0.25s ease-in-out;

		&::before {
			position: absolute;
			top: 87.5%;
			left: 0.125rem;

			display: block;

			width: calc(100% - 0.125rem);
			height: 1px;

			background-color: transparent;

			transition: background-color 0.25s ease-in-out;

			content: "";
		}

		&:hover {
			color: var(--fc-link-hover);

			&::before {
				background-color: currentColor;
			}
		}
	}

	.description {
		display: grid;
		grid-template-columns: 1fr auto;
		column-gap: 2rem;

		@media (max-width: 768px) {
			& {
				display: block;
			}
		}
	}

	.info {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		@media (max-width: 768px) {
			& {
				margin-top: 15px;
			}
		}
	}

	.mainPhotoContainer {
		display: flex;

		margin-left: -0.25rem;

		@media (max-width: 1024px) {
			& {
				margin-left: 0;
			}
		}
	}

	.profileLinksContainer {
		display: grid;
		grid-template-columns: 2.75rem 2.75rem auto;
		grid-template-rows: 2.75rem;
		column-gap: 1.5rem;

		margin-top: 50px;

		color: var(--fc-body);
	}
</style>
