---
import Layout from "#app/layouts/layout.astro";
import Photo from "#app/components/heroPhoto.astro";
import SocialLink from "#app/components/socialLink.astro";
import Link from "#app/components/link.astro";
import Divider from "#app/components/divider.astro";

let content = {
	name: "Ivan Gerasimov",
	description: "Software Engineer (JavaScript, Fullstack)",
	email: {
		to: "ivan@gerasimov.dev",
		label: "ivan@gerasimov.dev",
	},
};
---

<Layout>
	<main class="main">
		<div class="profile">
			<Photo />

			<div class="about">
				<h1 class="name">{content.name}</h1>

				<span class="description">{content.description}</span>
			</div>
		</div>
	</main>

	<footer>
		<Divider />

		<div class="footerContent">
			<div class="socialLinks">
				<SocialLink
					name="linkedIn"
					url="https://linkedin.com/in/ivan-gerasimov"
					label="LinkedIn profile"
				/>

				<SocialLink
					name="github"
					url="https://github.com/ivan-gerasimov-1"
					label="GitHub profile"
				/>
			</div>

			<div class="email">
				<Link to={content.email.to} label={content.email.label} />
			</div>
		</div>
	</footer>
</Layout>

<style>
	.main {
		display: flex;
		justify-content: center;

		margin: auto 0;
	}

	.profile {
		display: grid;
		grid-template-columns: 1fr auto;
		column-gap: 2rem;

		@media (max-width: 768px) {
			& {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}
	}

	.about {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		@media (max-width: 768px) {
			& {
				margin-top: 1rem;
			}
		}
	}

	.name {
		margin: 0;

		font-family: var(--ff-transitional);
		font-size: 8vw;
		font-weight: 800;

		letter-spacing: -0.5px;
		line-height: 1;
		white-space: nowrap;
	}

	.description {
		margin-top: 0.25rem;
		font-family: var(--ff-monospace);
		font-size: 1.5rem;

		color: var(--fc-200);

		font-size: clamp(1rem, 2vw, 1.5rem);
		letter-spacing: -0.5px;
	}

	.footerContent {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;

		margin: 10px;
	}

	.socialLinks {
		display: grid;
		grid-template-columns: 1.5rem 1.5rem auto;
		grid-gap: 1rem;
	}

	.email {
		font-family: var(--ff-monospace);
		font-size: 1rem;
		letter-spacing: -0.5px;

		color: var(--fc-200);
	}
</style>
