---
import ExperimentsLayout from "#app/layouts/experimentsLayout.astro";

import { meta } from "#app/pages/experiments/meta.ts";
---

<ExperimentsLayout {...meta}>
	<ul>
		<li><a href="/experiments/scroll-snap">Scroll Snap</a></li>
		<li>
			<a href="/experiments/button-gradient-border">Button Gradient Border</a>
		</li>
	</ul>
</ExperimentsLayout>
