---
import Optional from "#app/components/cv/optional.astro";

type Props = {
	items: string[];
};

let { items } = Astro.props;
---

<Optional condition={items.length}>
	<ul class="pills font-secondary fc-primary">
		{items.map((item) => <li>{item}</li>)}
	</ul>
</Optional>

<style>
	.pills {
		display: flex;
		flex-wrap: wrap;

		gap: 0.25rem;

		& li {
			flex-grow: 1;

			padding: 0.25rem 0.375rem;

			background-color: var(--c-pill);

			border-radius: 5px;

			text-align: center;
		}
	}
</style>
