---
type Props = {
	title: string;
};

let { title } = Astro.props;
---

<h3 class="sectionTitle">{title}</h3>

<div class="mt-110">
	<slot />
</div>

<style>
	.sectionTitle {
		font-size: var(--fs-primary-110);
		font-weight: var(--fw-90);
	}
</style>
