---
type Props = {
	id?: string;
	class?: string;
	style?: {
		gridColumn: string | number;
		gridRow: string | number;
	};
};

let { id, class: className = [], style } = Astro.props;
---

<div id={id} class:list={["d-flex", "f-column", className]} style={style}>
	<slot />
</div>
