---
type Props = {
	id?: string;
	class?: string;
	style?: {
		gridArea?: string;
	};
	type?: "column" | "line";
	alignItems?: "end";
	justifyContent?: "between";
};

let {
	id,
	class: className = [],
	style,
	type = "column",
	alignItems,
	justifyContent,
} = Astro.props;
---

<div
	id={id}
	class:list={[
		"flex",
		className,
		{
			"flex-col": type === "column",
			"items-end": alignItems === "end",
			"justify-between": justifyContent === "between",
		},
	]}
	style={style}
>
	<slot />
</div>
