---
type Props = {
	id?: string;
	class?: string;
	style?: {
		gridArea?: string;
	};
	type?: "column" | "line";
	alignItems?: "end";
	justifyContent?: "between";
};

let {
	id,
	class: className = [],
	style,
	type = "column",
	alignItems,
	justifyContent,
} = Astro.props;
---

<div
	id={id}
	class:list={[
		"d-flex",
		type,
		className,
		{
			"f-column": type === "column",
			"f-end": alignItems === "end",
			"f-space-between": justifyContent === "between",
		},
	]}
	style={style}
>
	<slot />
</div>

<style>
	.d-flex {
		display: flex;
	}

	.f-column {
		flex-direction: column;
	}

	.f-end {
		align-items: flex-end;
	}

	.f-space-between {
		justify-content: space-between;
	}
</style>
