---
type Props = {
	html?: string;
	class?: string;
};

let { html, class: className = [] } = Astro.props;
---

{
	html ? (
		<p class={`text ${className}`} set:html={html} />
	) : (
		<p class={`text ${className}`}>
			<slot />
		</p>
	)
}

<style>
	.text {
		line-height: 1.6;
	}
</style>
