.pw-profile-links__container {
  display: grid;
  grid-template-columns: 2.75rem 2.75rem auto;
  grid-template-rows: 2.75rem;
  column-gap: 1.5rem;
  margin: 0 0 1rem 0;

  color: var(--color-body);
}

.pw-profile-links__link {
  display: flex;

  color: currentColor;

  appearance: none;

  & > svg {
    width: 100%;
    height: 100%;
  }
}
