---
import type { TPageMeta } from "#app/i18n/types.ts";
import { cn } from "#app/utils/cn.ts";

import "../styles/global.css";

type Props = TPageMeta & {
	class?: string;
};

let locale = Astro.currentLocale;
let { title, keywords, description, class: className } = Astro.props;
---

<!doctype html>
<html lang={locale}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="icon" href="/favicon.svg" />

		<meta name="keywords" content={keywords} />
		<meta name="description" content={description} />

		<title>{title}</title>

		<script
			defer
			src="https://cloud.umami.is/script.js"
			data-website-id="0cf95b61-ae80-4f60-891e-8e4ffcc76d5f"></script>
	</head>

	<body class={cn("antialiased cursor-default", className)}>
		<slot />
	</body>
</html>
