---

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="icon" href="/favicon.ico" />

		<meta
			name="keywords"
			content="frontend, front-end, front end, developer, javascript, typescript, js, react, reactjs, vue, vuejs, vue.js, node, node.js, nodejs, angular"
		/>
		<meta
			name="description"
			content="Ivan Gerasimov | Fullstack JavaScript Engineer"
		/>

		<title>Ivan Gerasimov | JavaScript Engineer</title>
	</head>

	<body>
		<slot />
	</body>
</html>

<style>
	:root {
		--white: #f5f5f5;
		--grey: #8e8e8e;
		--blue: #2196f3;
		--black: #25292e;

		--fc-100: var(--white);
		--fc-200: var(--grey);
		--fc-link: var(--fc-200);
		--fc-link-hover: var(--blue);

		--clr-body-background: var(--black);

		--ff-transitional: Charter, "Bitstream Charter", "Sitka Text", Cambria,
			serif;
		--ff-monospace: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo,
			Consolas, "DejaVu Sans Mono", monospace;
	}

	html {
		color: var(--fc-100);
		background-color: var(--clr-body-background);
		background-image: url("/background.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-blend-mode: overlay;
	}

	body {
		margin: 0;
		padding: 0;

		height: 100dvh;

		display: flex;
		align-items: center;
		justify-content: center;

		cursor: default;
	}
</style>
