---

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="icon" href="/favicon.ico" />

		<meta
			name="keywords"
			content="frontend, front-end, front end, developer, engineer, software, software engineer, software developer, javascript, typescript, js, ts, react, reactjs, vue, vuejs, vue.js, node, node.js, nodejs, domain driven design, ddd, clean architecture, solid, oop, object oriented programming"
		/>
		<meta
			name="description"
			content="Ivan Gerasimov | Software Engineer (JavaScript, Fullstack)"
		/>

		<title>Ivan Gerasimov | Software Engineer</title>
	</head>

	<body>
		<slot />
	</body>
</html>

<style>
	:root {
		--white: #f5f5f5;
		--grey: #b8b4bf;
		--orange: #fb773c;
		--black: #25292e;

		--fc-100: var(--white);
		--fc-200: var(--grey);
		--fc-link: var(--fc-200);
		--fc-link-hover: var(--orange);

		--clr-body-background: var(--black);

		--ff-transitional: Charter, "Bitstream Charter", "Sitka Text", Cambria,
			serif;
		--ff-monospace: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo,
			Consolas, "DejaVu Sans Mono", monospace;
	}

	:global(*),
	:global(*::after),
	:global(*::before) {
		box-sizing: border-box;

		cursor: default;
	}

	html {
		color: var(--fc-100);
		background-color: var(--clr-body-background);
		background-image: url("/background.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-blend-mode: overlay;
	}

	body {
		margin: 0;
		padding: 50px;

		height: 100dvh;

		display: flex;
		justify-content: space-between;
		flex-direction: column;

		cursor: default;
	}
</style>
