name: Build and Deploy

on:
  push:
    branches:
      - main
    paths:
      - "packages/client/**"

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "20.12.0"
          cache: "npm"

      - name: Install dependencies and build the project
        run: |
          npm ci
          npm --workspace=@gerasimov/client run build

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: build
          path: packages/client/out

  deploy:
    runs-on: ubuntu-latest
    environment: production
    needs: build

    steps:
      - uses: actions/checkout@v4

      - name: Load secrets from 1Password
        uses: 1Password/load-secrets-action@v2.0.0
        with:
          export-env: true
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: "op://Savee/Cloudflare Wrangler/Account ID"
          CLOUDFLARE_API_TOKEN: "op://Savee/Cloudflare Wrangler/API Token"

      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: build
          path: packages/client/out

      - name: Deploy
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ env.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ env.CLOUDFLARE_ACCOUNT_ID }}
          workingDirectory: "packages/client"
          command: pages deploy
